.iconWater {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    fill: none;
    stroke: #9be1a0;
}

.info {
    /* flex-basis: 49px; */
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6px;
}

.amountWater {
    font-weight: 700;
    line-height: 1;
    color: var(--main-color);
}

.time {
    font-size: 12px;
    line-height: 1;
    color: rgba(47, 47, 47, 0.6);
}

.wrapperButtons {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.btn {
    width: 14px;
    height: 14px;
    padding: 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.btnIcon {
    width: 100%;
    height: 100%;
    stroke: var(--main-color);
    fill: none;
}

@media screen and (min-width: 768px) {

    .iconWater {
        width: 44px;
        height: 45px;
    }

    .info {
        flex-basis: 52px;
        row-gap: 0;
    }

    .amountWater {
        font-size: 15px;
        line-height: 1.49;
    }

    .time {
        line-height: 1.87;
    }

    .wrapperButtons {
        row-gap: 14px;
    }

    .btn {
        width: 16px;
        height: 16px;
    }
}