.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 15px;
    padding: 12px;
    max-width: 198px;

    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background: var(--fifth-color);
}

.text {
    font-weight: 700;
    line-height: 1;
    color: var(--main-color);
}

.wrapperProgressBar {
    position: relative;
    border-radius: 9px;
    width: 100%;
    height: 6px;
    background: var(--sixth-color);
}

.progressBar {
    position: absolute;
    border-radius: 9px;
    height: 6px;
    background: var(--third-color);
}

.progressBar::after {
    content: '';
    position: absolute;
    top: -3px;
    right: -1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--third-color);
    background-color: var(--fifth-color);
}

.percent {
    position: absolute;
    top: 10px;
    font-size: 8px;
    line-height: 1;
    color: var(--third-color);
}

.list {
    display: flex;
    justify-content: space-between;

    font-size: 10px;
    line-height: 1;
    color: rgba(47, 47, 47, 0.6);
}