.container {
    background-color: var(--sixth-color);
    position: relative;
    padding: 60px 16px;
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    top: 24px;
    left: 16px;
}

@media screen and (max-width: 1439px) {
    .container {
        height: 100vh;
    }
}