.section.welcomeSection {
    padding-bottom: 8px;
}


.container.welcomeContainer {
    background-color: var(--sixth-color);
    padding-bottom: 67px;
}

.logo {
    margin-bottom: 74px;
}

.textHomePage {
    line-height: 1.29;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.titleHomePage {
    font-weight: 700;
    font-size: 38px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: var(--main-color);
    margin-bottom: 32px;
}

.nav {
    display: flex;
    column-gap: 10px;
}

.itemNav {
    border-radius: 30px;

    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main-color);

    transition:
        background-color 250ms linear,
        color 250ms linear,
        border-color 250ms linear;
}

.itemNav:nth-child(1) {
    background-color: var(--third-color);
    min-width: 116px;
    padding: 14px 19px;
}

.itemNav:nth-child(1):hover,
.itemNav:nth-child(1):focus {
    background-color: var(--fourth-color);
}

.itemNav:nth-child(2) {
    background-color: transparent;
    min-width: 104px;
    padding: 14px 28px;
    border: 1px solid var(--main-color);
}

.itemNav:nth-child(2):hover,
.itemNav:nth-child(2):focus {
    color: var(--fourth-color);
    border-color: var(--fourth-color);
}

@media only screen and (min-width: 768px) {

    .section.welcomeSection {
        padding-top: 32px;
    }

    .container.welcomeContainer {
        padding: 32px 32px 50px;
    }

    .logo {
        margin-bottom: 50px;
    }

    .wrapper {
        padding-left: 32px;
    }

    .textHomePage {
        font-size: 16px;
        line-height: 1.5;
    }

    .titleHomePage {
        font-size: 64px;
        line-height: 1.09;
        margin-bottom: 32px;
    }

    .itemNav {
        font-size: 16px;
        line-height: 1.5;
    }

    .itemNav:nth-child(1) {
        min-width: 169px;
        padding: 18px 40px;
    }

    .itemNav:nth-child(2) {
        min-width: 135px;
        padding: 18px 40px;
    }
}

@media screen and (min-width: 1440px) {

    .section.welcomeSection {
        padding-bottom: 32px;
    }

    .container.welcomeContainer {
        width: 672px;
        padding: 32px 61px 188px 32px;
    }

    .logo {
        margin-bottom: 132px;
    }

    .titleHomePage {
        font-size: 80px;
        line-height: 0.95;
    }

}