.section.advantagesSection {
    padding-top: 8px;
}

.container {
    min-height: 353px;

    position: relative;
    padding: 0;
    border-radius: 30px;

    background-image:
        url('../../images/advantages-section/bg-img-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {

    .container {
        background-image:
            url('../../images/advantages-section/bg-img-mobile@2x.png');
    }

}

.wrapperOurUsers {
    max-width: 160px;

    position: absolute;
    z-index: 2;
    top: 209px;
    left: 16px;

    display: flex;
    justify-content: space-between;
    column-gap: 24px;

    background-color: var(--fifth-color);
    padding: 10px 14px;
    border-radius: 30px;
}

.wrapperUserPhoto {
    position: relative;
    display: flex;
}

.firstUserPhoto,
.secondUserPhoto,
.thirdUserPhoto {
    position: relative;
    flex-shrink: 0;
}

.firstUserPhoto {
    z-index: 5;
    transform: translateX(0);
}

.secondUserPhoto {
    z-index: 4;
    transform: translateX(-36%);
}

.thirdUserPhoto {
    z-index: 3;
    transform: translateX(-72%);
}

.textOurUsers {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    color: var(--main-color);
}

.acceptColor {
    color: var(--third-color);
}

.wrapperOurAdvantages {
    position: absolute;
    z-index: 2;
    top: 265px;
    left: 159px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;

    max-width: 168px;

    font-weight: 700;
    font-size: 8px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: var(--main-color);
}

.itemOurAdvantages {
    border-radius: 30px;
    padding: 9px 12px;
}

.itemOurAdvantages:nth-child(1) {
    display: flex;
    column-gap: 4px;
    align-items: center;
    justify-content: center;

    background-color: var(--main-color);
    color: var(--fifth-color)
}

.itemOurAdvantages:nth-child(1)::before {
    flex-shrink: 0;

    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--third-color);
}

.itemOurAdvantages:nth-child(2) {
    background-color: var(--third-color);
}

.itemOurAdvantages:nth-child(3) {
    background: var(--fifth-color);
}

@media only screen and (min-width: 768px) {

    .section.advantagesSection {
        padding-bottom: 32px;
    }

    .container {
        min-height: 446px;

        background-image:
            url('../../images/advantages-section/bg-img-tablet.png');
    }

    .wrapperOurUsers {
        max-width: 237px;
        top: 283px;
        left: 32px;
        column-gap: 36px;
        padding: 10px 20px;
    }

    .textOurUsers {
        font-size: 15px;
        line-height: 1.49;
    }

    .wrapperOurAdvantages {
        top: 336px;
        left: 430px;
        gap: 10px;
        max-width: 242px;
        font-size: 12px;
    }

    .itemOurAdvantages {
        padding: 11px 16px;
    }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {


    .container {
        background-image:
            url('../../images/advantages-section/bg-img-tablet@2x.png');
    }

}

@media only screen and (min-width: 1440px) {

    .container.advantagesContainer {
        width: 672px;
        min-height: 736px;
        background-image:
            url('../../images/advantages-section/bg-img-desktop.png');
    }

    .section.advantagesSection {
        padding-top: 32px;
    }

    .wrapperOurUsers {
        top: 537px;
    }

    .wrapperOurAdvantages {
        top: 594px;
        left: 398px;
        max-width: 242px;
        font-size: 12px;
    }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1440px) {
    .container.advantagesContainer {
        background-image:
            url('../../images/advantages-section/bg-img-desktop@2x.png');
    }

}